.content:before {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: -2;
    left: 0;
    right: 0;
    background-image: -webkit-radial-gradient(top, circle cover, #393b45 0%, #2d3038 70%);
    background-image: -moz-radial-gradient(center, circle cover, #393b45 0%, #2d3038 70%);
    background-image: -o-radial-gradient(center, circle cover, #393b45 0%, #2d3038 70%);
    background-image: radial-gradient(center, circle cover, #393b45 0%, #2d3038 70%);
    background-position: 50%, 50%;
}