header nav {
  height: 60px;
}

header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
}

header nav ul li {
  float: left;
}

header nav ul li a {
  display: block;
  color: #6a727a;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Roboto', 'Lucida-console';
}

header nav ul li a:hover {
  color: #000;
}

header nav ul li a:hover:not(.active) {
  background-color: #ee5b18;
}

header nav ul li a.active {
  background-color: #ee5b18;
  color: #000;
}