body {
  padding-top: 60px;
  background-color: rgb(47, 50, 59);
  color: #fff;
}

header {
  margin-bottom: 20px;
}

.gray-bg {
  background-color: #52555f;
}

.white-text {
  color: #fff;
}

.white-text-black-bg {
  color: #fff;
}